<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.telecom.ccs.dao.RuleModelMapper">

	<select id="selectRulesByProvince" resultType="com.telecom.ccs.model.Test" parameterType="String">
		select id,name from test where name=#{province};
	</select>


</mapper>
 

